.card {
    width: calc((80-4)*1px);
    height: calc((80-4)*(88/63)*1px);
    border: 4px rgba(0,0,0,0.5) solid;
    padding: 2px;
    border-radius: 12px;
}
.card.selected{
    border: 4px rgb(255,0,0,0.5) solid;
    font-weight: bold;
    background-color: lightpink;
}
.card > div{
    margin: 5px;
}
#cardselect .card:first-child{
    background-color: yellow;
    font-weight: bold;
}
