
#board {
    background-color: lightgoldenrodyellow;
    position: relative;
}

.card{
    display: flex;
    border: 1px solid black;
    padding: 2px;
    width: 200px;
}
.card>div{
    margin: 5px;
}
.card:first-child{
    background-color: yellow;
    font-weight: bold;
}

.room{
    position: absolute;
    background-color: lightpink;
    border: 8px solid rgba(0,0,0,0.3);
    background-clip: border-box;
}

.permit {
    border-style: dotted;
    background-color: rgba(0,0,255,0.3);
}

.roof{
    background-color: rgba(155,0,0,1);
}
.small-room{
    background-color: rgba(255,0,0,0.2);
}
.medium-room{
    background-color: rgba(255,0,0,0.4);
}
.big-room{
    background-color: rgba(255,0,0,0.6);
}
.tall-room{
    background-color: rgba(255,0,0,0.8);
}
.doll{
    background-color: rgba(255,255,255,1);
}
.toilet{
    background-color: rgba(255,255,255,1);
}
.shower{
    background-color: rgba(255,255,255,1);
}
.bed{
    background-color: rgb(255, 196, 1);
}
.tv{
    background-color: rgb(255, 196, 1);
}
.coach{
    background-color: rgb(255, 196, 1);
}
.table{
    background-color: rgb(255, 196, 1);
}
.big-tv{
    background-color: rgb(255, 196, 1);
}
.stove{
    background-color: rgb(146, 146, 146);
}
.kitchen-table{
    background-color: rgb(146, 146, 146);
}
.bench{
    background-color: rgb(167, 216, 155);
}
.plant{
    background-color: rgb(0, 255, 0);
}
.painting{
    background-color: rgb(255, 0, 255);
}
