
#board {
    background-color: lightblue;
    position: relative;
}
.room{
    position: absolute;
    background-color: lightpink;
    border: 8px solid rgba(0,0,0,0.3);
    background-clip: content-box;
}